bookmarks
.org-id-locations
Archive/
elpa/
server/
auto-save-list/
eshell/history
eshell/lastdir
url/cookies

tramp

url/cache/sk8ingdom/http/com/gravatar/www/009de4838f9d330c7954dc90110b788d
url/cache/surano/http/com/gravatar/www/009de4838f9d330c7954dc90110b788d
