*.last-package-update-day
*/.DS_Store
.DS_Store
.ipython/
.gitconfig
.org-id-locations
.python_history
.rnd
.sx/
Archive/
auto-save-list/
bookmarks
elpa/
eshell/
history
image-dired/
magithub/
network-security.data
org-gcal/
plugins/
recentf
server/
tramp
tramp/