bookmarks
.org-id-locations
Archive/
elpa/
server/
auto-save-list/
eshell/
tramp/
url/
plugins/popwin-el/
plugins/nastran-mode/
plugins/auto-package-update.el
plugins/nnreddit
plugins/shackle
plugins/symon
tramp
image-dired/
network-security.data
*.last-package-update-day
